<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <h2>Login</h2>
      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" type="text" formControlName="username" placeholder="Enter your username" />
        <small *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
          Username is required.
        </small>
      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" placeholder="Enter your password" />
        <small *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
          Password is required.
        </small>
      </div>
  
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
      <p *ngIf="message">{{ message }}</p>
    </form>
  </div>
  